[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
Wants=docker.service

[Service]
EnvironmentFile=/etc/container-environment
EnvironmentFile=/run/dns.env
EnvironmentFile=-/run/kubernetes-reserved.env
ExecStartPre=/bin/systemctl is-active docker.service
ExecStartPre=/usr/bin/scripts/cluster-dns.sh
ExecStartPre=/usr/bin/scripts/cri-docker.sh
ExecStart=/usr/bin/kubelet \
        --root-dir=/var/lib/kubelet \
        --hostname-override=${KUBE_NODE_NAME} \
        --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
        --node-labels=${PLANET_NODE_LABELS} \
        --config=/etc/kubernetes/kubelet.yaml \
        --container-runtime=remote \
        --container-runtime-endpoint=unix:///run/cri-dockerd.sock \
        $KUBE_KUBELET_FLAGS \
        $KUBE_CLOUD_FLAGS \
        $KUBE_COMPONENT_FLAGS
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
